{% extends "the_don/base-detail.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="about-box">	
				<div class="about-image">
					<p><img alt="{{ team.name }}" src="/vblog/media/{{ team.profile_pic }}" class="img-circle"></p>
				</div>
				<div class="about-text">
					<h5>~ About {{ team.name }}</h5>
					{{ team.about | safe }}
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="social-sharer">
							<p>
								<h5>- FOLLOW ME -</h5>
								<div class="social-sharer-desktop visible-md visible-lg hidden-sm hidden-xs">
									<div class="btn-group" role="group" aria-label="...">
										<a href="{{ team.facebook }}" type="button" class="btn fb-button"><i class="fa fa-facebook fa-lg"></i> Facebook</a>
										<a href="{{ team.twitter }}" type="button" class="btn btn-info"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
										<a href="{{ team.googleplus }}" type="button" class="btn btn-danger"><i class="fa fa-google fa-lg"></i> Googleplus</a>
										<a href="{{ team.instagram }}" type="button" class="btn ig-button"><i class="fa fa-instagram fa-lg"></i> Instagram</a>
									</div>
								</div>
							</p>
							<div class="social-sharer-mobile visible-sm visible-xs hidden-md hidden-lg">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<p>
											<a href="{{ team.facebook }}" type="button" class="btn fb-button btn-block"><i class="fa fa-facebook fa-lg"></i> Facebook</a>
											<a href="{{ team.twitter }}" type="button" class="btn btn-info btn-block"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
											<a href="{{ team.googleplus }}" type="button" class="btn btn-danger btn-block"><i class="fa fa-google fa-lg"></i> Googleplus</a>
											<a href="{{ team.instagram }}" type="button" class="btn ig-button btn-block"><i class="fa fa-instagram fa-lg"></i> Instagram</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="home-button">
				<a class="btn btn-lg orange-bg-rounded" href="/" role="button"><i class="fa fa-home fa-lg"></i> Back to Homepage</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}