{% extends "registration/base.html" %}
{% block title %}Account activated{% endblock %}
{% block content %}

<div class="auth-align">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Account activated.</h1>
        {% load humanize %}
          {% if account %}
          <p>Terimakasih sudah mendaftar!, sekarang kamu bisa login di sini : <a href="/accounts/login/">log in</a>.</p>
          {% else %}
          <p>
            Sorry, it didn't work. Either your activation link was incorrect, or
            the activation key for your account has expired; activation keys are
            only valid for {{ expiration_days|apnumber }} days after
            registration.
          </p>
          {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}