/*GLOBAL*/

a {
    text-decoration: none !important;
}

.fa-lg {
	padding-right: 7px;
}

.fa-heart {
    color: #e74c3c;
    font-size: 0.8em !important;
}

.fb-button {
    background: #3C5A99;
    color: #FFFFFF;
}

.fb-button:hover {
    background: #2980b9;
    color: #FFFFFF;
}

.ig-button {
    background: #34495e;
    color: #FFFFFF;
}

.ig-button:hover {
    background: #2c3e50;
    color: #FFFFFF;
}

.btn-dark-side {
	background-color: #8e44ad;
	color: #FFFFFF
}

.btn-dark-side:hover {
	background-color: #9b59b6;
	color: #FFFFFF;
}

.btn-danger-rounded {
	border-radius: 50px !important;
	background-color: #E74C3C;
	border-color: #E74C3C;
	color: #FFF;
}

.btn-danger-rounded:hover {
	border-radius: 50px !important;
	background-color: #c0392b;
	border-color: #c0392b;
	color: #FFF;
}

.btn-custom {
    font-family: "Montserrat",sans-serif;
    transition: all 0.2s ease 0s;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 8.3px 16px;
    border-radius: 3px;
    border: 2px solid #FFFFFF !important;
}

.btn-custom:hover {
    background-color: #FFFFFF !important;
    color: #2BA3D4 !important;
}

.btn-default, .flat-default, .flat-default.btn-bordered:hover {
    background-color: transparent !important;
    color: #FFFFFF;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
    height: 100%;
    width: 7px;
    margin: 0px 3px 0px 0px;
    background-color: #FFF;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.sk-wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }
  .sk-wave .sk-rect {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
            animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
  .sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; }
  .sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

p.loading-message {
    color: #FFFFFF;
    font-size: 1.5em;
} 

.pg-loading-screen .pg-loading-html {
    margin-top: 50px !important;
}

/* ---------- EOC --------- */


/*HEADER*/
.header-bg {
	background: url(../img/pattern-black.png) repeat-x scroll right top;
	height: 50vh;
}

.header-bg-single {
    background: url(../img/pattern-white.png) repeat-x scroll right top;
    height: 50vh;
}

.header-text {
	text-align: center;
	color: #FFFFFF;
/*	padding-top: 50px;
padding-bottom: 50px;*/
}

.header-text h1 {
	font-size: 4em;
}

.header-text h2 {
	font-size: 2em;
}

.header-text-single {
    text-align: center;
    color: #34495e;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header-text-single h1 {
    font-size: 3em;
    margin-top: 0px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-custom {
	background-color: transparent !important;
    border-color: transparent;
}

.navbar-header > a {
    color: #FFFFFF;
}

.navbar-custom .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-custom .navbar-nav > li > a:hover {
    background-color: #f39c12;
    color: #FFFFFF;
}

.social-sharer-mobile {
    padding-left: 10px;
    padding-right: 10px;
}

/* ---------- EOC --------- */


/*BODY*/

.body-wrapper-disclaimer {
	padding: 50px 0px 50px 0px;
}

.body-wrapper-disclaimer a {
	color: #681C9F;
}

.body-wrapper-disclaimer-img {
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.body-wrapper-disclaimer p {
	font-size: 1.2em;
	line-height: 30px;
}

.body-wrapper-videos {
	padding: 0px 0px 50px 0px;
	text-align: center;
}

.body-wrapper-videos p {
	font-size: 1.2em;
	line-height: 30px;
}

.body-disclaimer {
	text-align: justify;
}

.flip-it {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}

.thumbnail {
    width: 100%;
    height: auto;
}

.thumbnail.content-thumbnail img {
    width: 100%;
    height: 100%;
}

.caption-wrapper {
    background-color: #F6F8F9;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: #2C3E50;
    padding: 50px 50px 50px 50px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #2C3E50;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.strike h3 {
	margin-top: 10px ;
	margin-bottom: 10px;
}

.more-videos-button {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* ---------- EOC --------- */


/*ABOUT PAGE*/

.about-tabs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card.hovercard .cardheader img {
    /*background-color: #f39c12 !important;*/
    width: 100%;
    height: auto;
    z-index: 1;
}

.card-content {
    position: relative;
    background-color: #F6F8F9;
    z-index: 2;
}

.about-box {
    border: 1px solid #bdc3c7;
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-box .about-image {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-box .about-image img {
    width: 200px;
    height: 200px;
}

.header-text-single h1 {
    text-transform: uppercase;
}

.about-text {
    padding: 20px 20px 20px 20px;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    border-radius: 3px;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* ---------- EOC --------- */


/*SINGLE VIDEO*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.video-radius {
    border-radius: 5px;
}

.video-tabs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.gallery-single {
    width: 100%;
    height: auto;
}

.gallery-single img {
    width: 100%;
    height: auto;
}

.deskripsi p {
    font-size: 1.1em;
    line-height: 30px;
}

.info-lain {
    text-align: center;
}

.info-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.gallery img {
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.home-button {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

/* ---------- EOC --------- */


/*VIDEO LIST*/

.social-sharer {
    margin-bottom: 30px;
    text-align: center;
}

/* ---------- EOC --------- */


/*FOOTER*/

.homepage-footer-jogja {
    background: #FFFFFF url("../img/jogja-bg.png");
    height: 200px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: center bottom !important;
}

.homepage-footer-jogja i {
    color: #e74c3c;
    font-size: 0.8em;
    padding-left: 2px;
    padding-right: 2px;
}

.homepage-footer-copyright {
    padding-top: 100px;
}

.homepage-footer-jogja p {
    text-align: center;
    font-weight: bold;
    color: #95a5a6;
    padding-top: 15px;
}

p#homepage-footer-jogja-createdat {
	padding-top: 70px;
}
/* ---------- EOC --------- */


/*JOURNEY*/

.journey-add-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading-new-journey h4 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.journey-form {
    width: 80%;
}

.journey-content {
    width: 100% !important;
    height: auto;
}

.cke_id_content {
    width: auto !important;
}

.header-bg-journey {
    background: #32A6D5 url('../img/bg_teaser.svg') no-repeat scroll 50% 50%;
    height: 60vh;
    text-align: center;
}

.header-bg-journey-custom {
    background: url('../img/city-bokeh.jpg') no-repeat scroll 50% 50%;
    height: 60vh;
    text-align: center;
}

.header-bg-journey-overlay {
    /*background: url('../img/city-bokeh.jpg') no-repeat scroll 50% 50%;*/
    height: 100vh;
    text-align: center;
    background-size: cover;
}

.overlay-bg {
    background-color: rgba(0, 0, 0, 0.3);
    float: left;
    height: 100%;
    width: 100%;
}

.header-text-journey-archive {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
}

.header-text-journey-archive h1 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px !important;
    vertical-align: middle;
    font-size: 4em;
    font-weight: bold;
}

.header-text-journey-overlay {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 150px;
}

#journey-h1 {
    color: #FFF;
    font-size: 3em;
    font-weight: 700;
    margin: 0px 0px 20px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.body-wrapper-journey {
    padding: 0px 0px 50px 0px;
    text-align: center;
}

.body-wrapper-videos p {
    font-size: 1em;
    line-height: 30px;
}

#author {
    text-transform: capitalize;
}

.my-journeys {
    text-align: center;
    padding: 0px 10px 10px 10px;
}

.my-journeys h4 {
    margin-top: 0px;
}

.nav-sidebar-journey-maker {
    padding-top: 40px;
}

/* ---------- EOC --------- */


/*JOURNEY DETAIL*/

.journey-detail-image {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.journey-detail-image img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.profile-pic-detail img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.journey-box {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.journey-detail-text {
    padding: 20px 20px 20px 20px;
}

.journey-detail-text h5 {
    padding: 0px 30px 0px 30px;
}

.journey-detail-text p {
    padding: 0px 30px 0px 30px;
    font-size: 1.1em;
    line-height: 30px;
}

.heading-meta-wrapper-journey-detail {
    text-align: center;
}

#heading-title-journey-detail {
    text-transform: uppercase;
    color: #FFFFFF;
}

.grid-story {
    margin-bottom: 30px !important;
}

.story-caption h3, .story-caption h4 {
    font-size: 1.2em;
}

.story-new-wrap {
    background-position: center center;
    background-size: cover;
    height: 340px;
    position: relative;
}

.grad-overlay {
    background: transparent linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%) repeat scroll 0% 0%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.story-caption {
    bottom: 0px;
    color: #FFF;
    padding: 15px 20px;
    position: absolute;
    text-align: left;
}

.story-caption h3, .story-caption h4 {
    padding: 0px;
    font-weight: lighter;
}

.story-caption h4 {
    color: #A4A6A7;
    font-size: 14px;
    margin-bottom: 0px;
}

.story-new-wrap .traveller-link {
    color: #A4A6A7;
    position: relative;
    z-index: 1001;
}

.story-new-wrap a.thumbnail {
    font-size: 0px;
    height: 100%;
    opacity: 0;
    position: absolute;
    text-indent: 200%;
    top: 0px;
    white-space: nowrap;
    width: 100%;
    z-index: 1000;
}

.thumbnail {
    background: #333 none repeat scroll 0px 0px;
    border: medium none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

.story-new-wrap .editors-pick {
    padding: 4px 8px;
}
.story-new-wrap span {
    background-color: #EC2833;
    color: #FFF;
    float: right;
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 15px;
    padding: 4px 10px;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* ---------- EOC --------- */


/*JOURNEY MAKER*/

.maker-meta {
    text-align: center;
}

.maker-meta img {
    width: 200px;
    height: auto;
}

.social-sharer-maker {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

/* ---------- EOC --------- */


/*LOGIN - REGISTER*/

.login-content {
    background: #f39c12 url('../img/bg_teaser.svg') no-repeat scroll 50% 50%;
    height: 100vh;
    text-align: center;
}

.register-content {
    background: #8e44ad url('../img/bg_teaser.svg') no-repeat scroll 50% 50%;
    height: 100vh;
    text-align: center;
}

.login-box-wrapper {
    margin-top: 200px;
}

.account-box {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5x;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 138px;
    height: 30px;
    text-align: center;
    margin: 10px 0px 27px 40px;
    background-position: 0px -4px;
    position: relative;
}

.forgotLnk {
    margin-top: 10px;
    display: block;
}

.purple-bg {
    background-color: #6E329D;
    color: #FFFFFF;
}

.purple-bg:hover {
    background-color: #9b59b6;
    color: #FFFFFF;
}

.orange-bg {
    background-color: #f39c12;
    color: #FFFFFF;
}

.orange-bg:hover {
    background-color: #f1c40f;
    color: #FFFFFF;
}

.orange-bg-rounded {
    background-color: #f39c12;
    color: #FFFFFF;
    border-radius: 50px !important;
}

.orange-bg-rounded:hover {
    background-color: #f1c40f;
    color: #FFFFFF;
}

.or-box {
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}

.or {
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}

.account-box .btn:hover {
    color: #fff;
}

.btn-facebook {
    background-color: #3F639E;
    color: #fff;
    font-weight:bold;
}

.btn-ig {
    background-color: #34495e;
    color: #fff;
    font-weight:bold;
}

.auth-align {
    text-align: center;
}

.auth-wrapper {
    text-align: center;
}

/* ---------- EOC --------- */


/*REGISTRATION COMPLETE*/

.reg-complete-wrapper {
    height: 100vh;
    width: 100%;
    background-color: #30A5D5;
    text-align: center;
}

.reg-complete-box {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #FFFFFF;
    width: 100%;
}

.reg-complete-box h1 {
    margin-top: 50px;
}

.reg-complete-box img {
    max-width: 100%;
    height: auto;
}

.reg-complete-box p {
    font-size: 1.2em;
}

/* ---------- EOC --------- */


/*MEDIA QUERY*/

@media only screen and (max-width : 320px) {
    .info-item {
        text-align: left;
    }

    .header-text h1 {
        font-size: 1.5em;
        margin-top: 0px !important;
    }

    .header-text h2 {
        font-size: 1em;
        padding: 0px 25px 0px 25px;
    }

    .body-wrapper-disclaimer {
        padding-bottom: 30px;
    }

    .body-disclaimer {
        padding-top: 20px;
    }

    .body-disclaimer h4 {
        text-align: center;
    }

    .header-text-single h1 {
        font-size: 2em;
    }

    .homepage-footer-jogja {
        height: 30px;
    }

    .homepage-footer-copyright {
        padding-top: 0px;
    }

    p#homepage-footer-jogja-createdat {
        padding-top: 0px;
    }

    .about-text {
        padding-left: 10px;
        padding-right: 10px;
    }

    .journey-detail-text h5 {
        padding: 0px 0px 0px 0px;
    }

    .journey-detail-text p {
        padding: 0px 0px 0px 0px;
    }

    .header-text-journey-archive h1 {
        font-size: 2em;
    }

    .header-bg-journey {
        height: 30vh;
    }

    .header-text-journey-archive {
        padding-top: 50px;
    }

    .header-bg-journey {
        height: 40vh;
    }

    .nav-sidebar-journey-maker {
        padding-top: 10px;
    }
}

@media only screen and (max-width : 480px) {
    .info-item {
        text-align: left;
    }

    .header-text h1 {
        font-size: 1.5em;
        margin-top: 0px !important;
    }

    .header-text h2 {
        font-size: 1em;
        padding: 0px 25px 0px 25px;
    }

    .body-wrapper-disclaimer {
        padding-bottom: 30px;
    }

    .body-disclaimer {
        padding-top: 20px;
    }

    .body-disclaimer h4 {
        text-align: center;
    }

    .header-text-single h1 {
        font-size: 2em;
    }

    .homepage-footer-jogja {
        height: 30px;
    }

    .homepage-footer-copyright {
        padding-top: 0px;
    }

    p#homepage-footer-jogja-createdat {
        padding-top: 0px;
    }

    .about-text {
        padding-left: 10px;
        padding-right: 10px;
    }

    .journey-detail-text h5 {
        padding: 0px 0px 0px 0px;
    }

    .journey-detail-text p {
        padding: 0px 0px 0px 0px;
    }

    .header-text-journey-archive h1 {
        font-size: 2em;
    }

    .header-bg-journey {
        height: 30vh;
    }

    .header-text-journey-archive {
        padding-top: 50px;
    }

    .header-bg-journey {
        height: 40vh;
    }

    .nav-sidebar-journey-maker {
        padding-top: 10px;
    }

}


/* ---------- EOC --------- */