{% extends "journey/base.html" %}
{% block title %}Journey Archive | Proffesional Weekend!{% endblock %}
{% block content %}

<!-- SECTION VIDEOS -->
<div class="body-wrapper-journey">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="strike">
					<span><h4>JOURNEY ARCHIVES</h4></span>
				</div>
			</div>
		</div>
		<!-- JOURNEY ARCHIVE LIST -->

		<!-- SEARCH FORM -->
		<div class="search-form">
			<form action="{% url 'watson:search' %}" role="form">
				<div class="input-group">
					<input type="text" name="q" value="{{request.GET.q}}" class="form-control input-lg input-rounded-search" placeholder="Search for...">
					<span class="input-group-btn">
						<input class="btn btn-info btn-lg input-rounded-btn" type="submit" value="SEARCH">SEARCH</input>
					</span>
				</div><!-- /input-group -->
			</form>
		</div>
		<!-- EOC -->

		<div class="row">
			{% for post in posts %}
			<div class="col-md-4 col-sm-12 grid-story">
				<div class="story-new-wrap" style="background-image:url({{ request.META.HTTP_NAME }}/vblog/media/{{ post.featured_image }});" href="{% url "journey_detail" slug=post.slug %}">
					<div class="grad-overlay">
						<div class="story-caption">
							<h3 class="caption-title" href="{% url "journey_detail" slug=post.slug %}">{{ post.title }}</h3>
							<h4>by : <a class="traveller-link" href="#">{{ post.author }}</a></h4>
						</div><!-- story-caption -->
					</div><!-- grad-overlay -->
					<a class="thumbnail" href="{% url "journey_detail" slug=post.slug %}">View More</a>
					<span class="editors-pick"><i class="fa fa-map-marker"></i></span>    
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- EOC -->

		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">

					<!-- PAGINATION -->
					<nav>
						<ul class="pager">
							{% if posts.has_previous %}
							<li class="previous"><a href="?page={{ posts.previous_page_number }}"><span aria-hidden="true">&larr;</span> Older</a></li>
							{% endif %}

							<span class="current">
								Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
							</span>

							{% if posts.has_next %}
							<li class="next"><a href="?page={{ posts.next_page_number }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
							{% endif %}
						</ul>
					</nav>
					<!-- EOC -->

				</div>
			</div>
		</div>
	</div>
</div>
<!-- EOC -->

{% endblock %}