{% extends "journey/base_detail.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="journey-box">

				<!-- ABOUT PROFILE PIC -->
				<div class="journey-detail-image">
					<p><img alt="{{ post.title }}" src="/vblog/media/{{ post.featured_image }}" class="img-rounded"></p>
				</div>
				<!-- EOC -->

				<div class="row">
					<div class="col-md-12 col-sm-12">

						<!-- ABOUT SOCIAL BUTTON -->
						<div class="social-sharer">
							<p>
								<h5>- Share the <i class="fa fa-heart"></i> -</h5>
								<div class="social-sharer-desktop visible-md visible-lg hidden-sm hidden-xs">
									<div class="btn-group" role="group" aria-label="...">
										<button type="button" class="btn fb-button"><i class="fa fa-facebook fa-lg"></i> Facebook</button>
										<button type="button" class="btn btn-info"><i class="fa fa-twitter fa-lg"></i> Twitter</button>
										<button type="button" class="btn btn-danger"><i class="fa fa-google fa-lg"></i> Google</button>
									</div>
								</div>
							</p>
							<p>
								<div class="social-sharer-mobile visible-sm visible-xs hidden-md hidden-lg">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<p>
												<a href="{{ team.facebook }}" type="button" class="btn fb-button btn-block"><i class="fa fa-facebook fa-lg"></i> Facebook</a>
												<a href="{{ team.twitter }}" type="button" class="btn btn-info btn-block"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
												<a href="{{ team.googleplus }}" type="button" class="btn btn-danger btn-block"><i class="fa fa-google fa-lg"></i> Googleplus</a>
												<a href="{{ team.instagram }}" type="button" class="btn ig-button btn-block"><i class="fa fa-instagram fa-lg"></i> Instagram</a>
											</p>
										</div>
									</div>
								</div>
							</p>
						</div>
						<!-- EOC -->
						
					</div>
				</div>

				<!-- JOURNEY DETAIL TEXT -->
				<div class="journey-detail-text">
					<div class="heading-meta-wrapper-journey-detail">
						<h4 id="heading-title-journey-detail">{{ post.title }}</h4>
						<p><strong id="author">by <a href="#">{{ post.author }}</a></strong></p>
					</div>
					<p>{{ post.content | safe }}</p>
				</div>
				<!-- EOC -->

			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="home-button">
				<a class="btn btn-lg orange-bg-rounded" href="/journey" role="button"><i class="fa fa-home fa-lg"></i> Back to Journey List</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}