{% extends "journey/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{{ form.media }}

<div class="journey-add-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="nav-sidebar-journey">
					<div class="panel panel-default">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Menu</h3>
					  	</div>
					  	<div class="panel-body">
					    	<ul class="nav nav-pills nav-stacked">
							    <li role="presentation" class="active"><a href="{{ request.META.HTTP_NAME }}/journey/new/">Edit Journey</a></li>
							    <li role="presentation"><a href="{{ request.META.HTTP_NAME }}/journey/maker/">My Journeys</a></li>
							    <li role="presentation"><a href="{{ request.META.HTTP_NAME }}/journey/">Back to Journey List</a></li>
							</ul>
					  	</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				<div class="heading-new-journey">
					<h4>#Edit Journey</h4>
				</div>
				<form method="POST" enctype="multipart/form-data" class="journey-form">{% csrf_token %}
				  	<div class="form-group">
				  		<div class="panel panel-default">
					  		<div class="panel-heading">Upload Featured Image</div>
					  		<div class="panel-body">
					    		{{ form.featured_image|as_crispy_field }}
				    			<p class="help-block">Upload featured image here, MAX 1MB</p>
					  		</div>
						</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="title">Author</label>
				    	{% if user.is_authenticated %}
				    	<fieldset disabled>
				    		<input type="text" id="id_author" class="form-control input-lg" name="author" value="{{ user.get_username }}"></input>
						</fieldset>
				    	{% endif %}
				  	</div>
				  	<div class="form-group">
				    	{{ form.title|as_crispy_field }}
				  	</div>
				  	<div class="form-group">
				    	{{ form.location|as_crispy_field }}
				  	</div>
				  	<div class="form-group">
				  		<div class="journey-content">
				    		{{ form.content|as_crispy_field }}
				    	</div>
				  	</div>
				  	<div class="panel panel-default panel-journey">
					  	<div class="panel-heading">
					    	<div class="panel-heading">Journey Gallery</div>
					  	</div>
					  	<div class="panel-body">
					    	<div class="row">
						  		<div class="col-md-6 col-sm-6">
								  	<div class="form-group">
								    	{{ form.gallery_image_1|as_crispy_field }}
								  	</div>
								  	<div class="form-group">
								  		{{ form.gallery_image_2|as_crispy_field }}
								  	</div>
								</div>
						  		<div class="col-md-6 col-sm-6">
								  	<div class="form-group">
								  		{{ form.gallery_image_3|as_crispy_field }}
								  	</div>
								  	<div class="form-group">
								  		{{ form.gallery_image_4|as_crispy_field }}
								  	</div>
								</div>
							</div>
					  	</div>
					</div>
				  	<button type="submit" class="btn btn-info btn-lg"><i class="fa fa-paper-plane fa-lg"></i> Save</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}