{% extends "journey/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.media }}

<div class="journey-add-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="nav-sidebar-journey-maker">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Menu</h3>
						</div>
						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked">
								<li role="presentation"><a href="{{ request.META.HTTP_NAME }}/journey/new/">Add Journey</a></li>
								<li role="presentation" class="active"><a href="{{ request.META.HTTP_NAME }}/journey/maker/">My Journeys</a></li>
								<li role="presentation"><a href="{{ request.META.HTTP_NAME }}/journey/">Back to Journey List</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				<div class="row">
					<div class="my-journeys">
						<h4>~ MY JOURNEYS ~ </h4>
					</div>
					{% for post in posts %}
					<div class="col-md-6 col-sm-12 grid-story">
						<div class="story-new-wrap" style="background-image:url({{ request.META.HTTP_NAME }}/vblog/media/{{ post.featured_image }});" href="{% url "journey_detail" slug=post.slug %}">
							<div class="grad-overlay">
								<div class="story-caption">
									<h3 class="caption-title" href="{% url "journey_detail" slug=post.slug %}">{{ post.title }}</h3>
									<h4>by : <a class="traveller-link" href="http://journesia.com/traveler/restianasyif">{{ post.author }}</a></h4>
								</div><!-- story-caption -->
							</div><!-- grad-overlay -->
							<a class="thumbnail" href="{% url "journey_detail" slug=post.slug %}">View More</a>
							<span class="editors-pick"><i class="fa fa-star"></i></span>    
						</div>
						<a class="btn btn-info btn-block" style="border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;" href="{% url "journey_edit" slug=post.slug %}"><i class="fa fa-pencil fa-lg"></i> Edit</a>
					</div>
					{% empty %}
					<div class="journey-jumbotron">
						<div class="jumbotron">
							<h4>Kamu belum punya Journey :(</h4>
							<p><a class="btn btn-info btn-lg" href="{{ request.META.HTTP_NAME }}/journey/new/" role="button">Tulis Journey!</a></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<!-- PAGINATION -->
		<nav>
			<ul class="pager">
				{% if posts.has_previous %}
				<li class="previous"><a href="?page={{ posts.previous_page_number }}"><span aria-hidden="true">&larr;</span> Older</a></li>
				{% endif %}

				<span class="current">
					Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
				</span>

				{% if posts.has_next %}
				<li class="next"><a href="?page={{ posts.next_page_number }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
				{% endif %}
			</ul>
		</nav>
		<!-- EOC -->
		
	</div>
</div>

{% endblock %}