{% extends "journey/base_detail.html" %}
{% load social_share %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="journey-box">

				<div class="row">
					<div class="col-md-12 col-sm-12">

						<!-- ABOUT SOCIAL BUTTON -->
						<div class="social-sharer">
							<p>
								<h5>- Share the <i class="fa fa-heart"></i> -</h5>
								<div class="social-sharer-desktop visible-md visible-lg hidden-sm hidden-xs">
									<div class="btn-group" role="group" aria-label="...">
										{% post_to_facebook object_or_url "Facebook" %}
										{% post_to_twitter "New Journey: {{object.title}}. Check it out!" object_or_url "Twitter" %}
										{% post_to_gplus object_or_url "Google+" %}
									</div>
								</div>
							</p>
							<p>
								<div class="social-sharer-mobile visible-sm visible-xs hidden-md hidden-lg">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<p>
												<a href="{{ team.facebook }}" type="button" class="btn fb-button btn-block"><i class="fa fa-facebook fa-lg"></i> Facebook</a>
												<a href="{{ team.twitter }}" type="button" class="btn btn-info btn-block"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
												<a href="{{ team.googleplus }}" type="button" class="btn btn-danger btn-block"><i class="fa fa-google fa-lg"></i> Googleplus</a>
											</p>
										</div>
									</div>
								</div>
							</p>
						</div>
						<!-- EOC -->

					</div>
				</div>

				<!-- JOURNEY DETAIL TEXT -->
				<div class="journey-detail-text">
					<p>{{ post.content | safe }}</p>
				</div>
				<!-- EOC -->
				
				<!-- JOURNEY GALLERY -->
				<div align="center"><h5>- Journey Gallery <i class="fa fa-heart"></i> -</h5></div>
				<div class="journey-gallery-wrapper">
					<div class="row">
						<div class="col-md-3 sm-12">
							<div class="journey-gallery-image">
								<a href="{{ request.META.HTTP_NAME }}/vblog/media/{{ post.gallery_image_1 }}" data-lightbox="journey"><div class="clip-circle" style="background-image:url({{ request.META.HTTP_NAME }}/vblog/media/{{ post.gallery_image_1 }})" alt="Image 1"></div></a>
							</div>
						</div>
						<div class="col-md-3 sm-12">
							<div class="journey-gallery-image">
								<a href="{{ request.META.HTTP_NAME }}/vblog/media/{{ post.gallery_image_2 }}" data-lightbox="journey"><div class="clip-circle" style="background-image:url({{ request.META.HTTP_NAME }}/vblog/media/{{ post.gallery_image_2 }})" alt="Image 2"></div></a>
							</div>
						</div>
						<div class="col-md-3 sm-12">
							<div class="journey-gallery-image">
								<a href="{{ request.META.HTTP_NAME }}/vblog/media/{{ post.gallery_image_3 }}" data-lightbox="journey"><div class="clip-circle" style="background-image:url({{ request.META.HTTP_NAME }}/vblog/media/{{ post.gallery_image_3 }})" alt="Image 3"></div></a>
							</div>
						</div>
						<div class="col-md-3 sm-12">
							<div class="journey-gallery-image">
								<a href="{{ request.META.HTTP_NAME }}/vblog/media/{{ post.gallery_image_4 }}" data-lightbox="journey"><div class="clip-circle" style="background-image:url({{ request.META.HTTP_NAME }}/vblog/media/{{ post.gallery_image_4 }})" alt="Image 4"></div></a>
							</div>
						</div>
					</div>
				</div>
				<!-- EOC -->

			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="home-button">
				<a class="btn btn-lg orange-bg-rounded" href="/journey" role="button"><i class="fa fa-home fa-lg"></i> Back to Journey List</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}